@model Utility.Menu.UserMenu


<ul class="menu-items">
    @foreach (var itemModel in Model.LeftMenu)
    {
        <li>
            <a href="@Html.DisplayFor(modelItem => itemModel.MenuUrl)">
                <span class="title">@Html.DisplayFor(modelItem => itemModel.MenuTitle)</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail">
                <i class="fs-14 fa @Html.DisplayFor(modelItem => itemModel.MenuIcon)"></i>
            </span>
            <ul class="sub-menu">
                @foreach (var listItemModel in itemModel.ItemList)
                {
                    <li class="">
                        <a href="@Html.DisplayFor(modelItem => listItemModel.MenuUrl)">@Html.DisplayFor(modelItem => listItemModel.MenuTitle)</a>
                    </li>
                }
            </ul>
        </li>
    }

    @if (Model.FunctionMap.Count > 0)
    {
        <li class="">
            <a href="javascript:void(0)">
                <span class="title">快速导航</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail ">
                <i class="fa fa-map-marker"></i>
            </span>
            <ul class="sub-menu">
                <li class="">
                    <a href="/FunctionMap/Index">快速导航</a>
                </li>
            </ul>
        </li>

    }

</ul>