@{
    ViewBag.Title = "店铺列表";
}
@section Style{
    @Styles.Render("~/style/form")
}
<div class="container-fixed-lg bg-white" style="min-width: 915px;">
    <div class="panel panel-transparent no-border">
        <div class="panel-heading">
            <div class="page-where visitWhere">
                <div class="pull-left">
                    <div class="input-group transparent whereitem">
                        <span class="input-group-addon" style="width:108px; padding:0px;">
                            <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" id="SelectColumn" style="width:100px">
                                <option value="companyName">店铺名称</option>
                                <option value="userRealName">店主姓名</option>
                                <option value="phoneNumber">电话号码</option>
                                <option value="userEmail">电子邮箱</option>
                                <option value="bbsUid">论坛ID</option>
                            </select>
                        </span>
                        <input type="text" placeholder="内容" class="form-control" id="selectColmunValue" onkeyup="InputOnKeyUp(event)" style="min-height:37px;">
                    </div>

                    <div class="pull-left  whereitem" id="insertTime">
                        <div class="input-daterange input-group">
                            <input type="text" placeholder="注册时间" class="input-sm form-control min-height-37" name="start" />
                            <span class="input-group-addon">to</span>
                            <input type="text" placeholder="注册时间" class="input-sm form-control min-height-37" name="end" />
                        </div>
                    </div>

                    <div class="form-group  whereitem">
                        <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" id="regSource" onchange="GetShopList(1)" style="width:139px;">
                            <option value="all">所有来源</option>
                            <option value="11">Android注册</option>
                            <option value="10">IOS注册</option>
                            <option value="8">PC客户端注册</option>
                            <option value="9">SEM注册</option>
                            <option value="0">网站注册</option>
                        </select>
                    </div>
                    <div class=" whereitem">
                        <input type="text" placeholder="代理商" class="form-control width120" id="agenName" onkeyup="InputOnKeyUp(event)">
                    </div>

                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="panel-body no-padding">
            <div class="row">
                <table class="table table-hover" id="ListTable">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>店铺名称</th>
                            <!-- <th class="text-center">注册来源</th> -->
                            <th>登录账号</th>
                            <th class="text-center">销售</th>
                            <th class="text-center">会员</th>
                            <th class="text-center">商品</th>
                            <th class="text-center">支出</th>
                            <th class="text-center">订单</th>
                            <th class="text-center">短信</th>
                             @*<th class="text-center">登录次数</th>*@ 
                            <th class="text-center">登录详情</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="dataTables_wrapper" id="ListPageHtml">
                    <div class="dataTables_paginate pagination">
                        <ul><li class="prev disabled"><a href="javascript:void(0)"><i class="pg-arrow_left"></i></a></li><li class="active"><a href="javascript:void(0)">1</a></li><li class="next disabled"><a href="javascript:void(0)"><i class="pg-arrow_right"></i></a></li></ul>
                    </div>
                    <div class="dataTablePagText fs-12 m-l-20"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<input type="hidden" value="@ViewBag.Column" id="indexSeachSelectValue" />
<input type="hidden" value="@ViewBag.Value" id="indexSeachInputValue"/>
<input type="hidden" value="@ViewBag.Str" id="indexSeachInputStr"/>

<script type="text/html" id="ShopListScript">
    {{each listData}}
    <tr role="row">
        <td><div style="{{$value.regLength |$newReg}}"></div>{{$value.ID}}</td>
        <td>
            <a href="/shopinfo/index/{{$value.ID}}" target="_blank" data-toggle="tooltip" data-placement="left" title="{{$value.CompanyName}} 【{{$value.UserRealName}}】">
                <img src="/img/Shop/{{$value.Edit | $aotjbImg}}" style="margin-right: 10px;" alt="{{$value.Edit}}" />
                <span style="{{$value.LoginLast | $logLength}}">{{$value.CompanyName | dateFormat}}</span>
            </a>
        </td>
        <td>
            {{if $value.Remark=="Android注册"}}
            <i class="p-r-10 fa fa-android fs-16 android" data-toggle="tooltip" data-placement="left" title="{{$value.Remark}}"></i>
            {{else if $value.Remark=="IOS注册"}}
            <i class="p-r-10 fa fa-apple fs-16" data-toggle="tooltip" data-placement="left" title="{{$value.Remark}}"></i>
            {{else if $value.Remark=="PC客户端注册"}}
            <i class="p-r-10 fa fa-desktop text-complete fs-16" data-toggle="tooltip" data-placement="left" title="{{$value.Remark}}"></i>
            {{else if $value.Remark=="SEM注册"}}
            <span class="p-r-10" title="{{$value.Remark}}">SEM</span>
            {{else if $value.Remark=="网站注册"}}
            <i class="p-r-10 fa pg-ui fs-16 text-primary" data-toggle="tooltip" data-placement="left" title="{{$value.Remark}}"></i>
            {{/if}}
            {{$value.PhoneNumber}} {{$value.useremail}}
        </td>
        <td class="text-center" title="{{$value.salemoney}}">{{$value.sale | dateFormat}}</td>
        <td class="text-center">{{$value.Club | dateFormat }}</td>
        <td class="text-center">{{$value.Goods | dateFormat}}</td>
        <td class="text-center" title="{{$value.paymoney}}">{{$value.pay | dateFormat}}</td>
        <td class="text-center">{{$value.Orde | dateFormat}}</td>
        <td class="text-center" title="剩余{{$value.havasms}}条">{{$value.sms | dateFormat}}</td>
        <td class="text-center">
            <div class="row center-block full-height">
                <span class="col-md-5 col-sm-5 col-xs-5 text-right b-r b-grey p-r-10">{{$value.LoginTimeWeb}} 次 </span> <span class="p-l-10 text-left visible-lg visible-lg-inline col-md-7 col-sm-7 col-xs-7"> {{$value.LoginTimeLast | dateFormat}}</span>
            </div>
        </td>
    </tr>
    {{/each}}
</script>
@section Scripts{
    @Scripts.Render("~/js/begin/form")
    <script src="~/Scripts/plugins/artTemplate/template.js"></script>
    <script src="~/Scripts/ShopList/ShopList.js?20160318"></script>
    <script type="text/javascript">

        var timeOut = 0;
        $(function () {

            var selectValue = $("#indexSeachSelectValue").val();
            var selectInputValue = $("#indexSeachInputValue").val();            

            if (selectValue.length > 0) {
                $("#SelectColumn").val(selectValue);
            }
            $("#selectColmunValue").val(selectInputValue);

            GetShopList(1);

            $('.visitWhere .pull-left .input-daterange').datepicker({ orientation: "top auto" }).on({
                'hide': function (ev) {
                    var oldValue = $(ev.target);
                    if (oldValue.val() != oldValue.attr("old")) {
                        timeOut = setTimeout("GetShopList(1)", 500);
                        oldValue.attr("old", oldValue.val());
                    }
                }, 'show': function (ev) {
                    clearTimeout(timeOut);
                }
            });
            $('[data-toggle="tooltip"]').tooltip();

            // $(".loginTimeLast").html($(".loginTimeLast").html().substr(0, 10));
        });

        template.helper('dateFormat', function (data) {
            if (data == "" || data == undefined || data == null) {
                return "-";
            };
            if (data == "1900-01-01 00:00:00") {
                return "从未登录";
            } else {
                return data.toString().substr(0, 10);
            };
        });
    </script>
}
<script type="text/html" id="VisitTagListScript">
    <ul class="nav nav-tabs nav-tabs-simple">
        {{each list }}
        <li>
            <a data-toggle="tab" href="#tagTabList{{$value.vTypeId}}">{{$value.vTypeName}}</a>
        </li>
        {{/each}}
    </ul>
    <div class="tab-content">
        {{each list }}
        <div class="tab-pane" id="tagTabList{{$value.vTypeId}}">
            {{each $value.ItemList as value i}}
            <span class="tag label label-white" onclick="VisitAddTag(this)" tagid="{{value.id}}">{{value.tagName}}</span>
            {{/each}}
        </div>
        {{/each}}
    </div>
</script>
